.product-title-with-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.product-title-with-share .product__title {
  margin: 0;
  flex-grow: 1;
}

.product-title-with-share .share-button {
  margin-left: 1rem;
}

@media screen and (max-width: 749px) {
  .product-title-with-share {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .product-title-with-share .share-button {
    margin-top: 0.5rem;
  }
}
